/* XL Device 1200px. */

@media only screen and (min-width: 1201px) and (max-width: 1500px) {}


/* LG Device: 992px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* MD Device: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .search-form-wrap .icon-inner {
        display: none !important;
    }
    
    .header-middle .icon-wrap {
        margin-top: 25px;
    }
    .header-middle .icon-wrap {
        justify-content: center;
    }
    .header-middle .search-form-wrap {
        justify-content: flex-end;
        margin-top: 7px;
    }
    .new-arrival-wrap .new-arrival-content, .source-wrap .new-arrival-content {
        flex-wrap: wrap;
    }
    .new-arrival-column {
        flex-basis: 48%;
        margin-bottom: 17px;
    }
    .new-arrival-inner {
        flex-wrap: wrap;
    }
    
    .new-arrival-inner .heading {
        width: 100%;
        margin-bottom: 15px;
    }
    
    .new-arrival-inner .inner-img {
        margin: auto;
    }
    .category-info {
        flex-wrap: wrap;
    }
    .category-info.basis a, .category-info.basis .product-item {
        flex-basis: 100%;
    }
    .footer-content {
        flex-wrap: wrap;
       
    }
    .footer-content .footer-left, .footer-content .footer-right {
        flex-basis: 100%;
        text-align: center;
    }
    .footer-content .footer-right {
        margin-top: 20px;
    }
}


/* XS Device */

@media only screen and (max-width: 767px) {
    .search-form-wrap .icon-inner {
        display: none !important;
    }
    
    .header-middle .icon-wrap {
        margin-top: 27px;
    }
}
/* extra small */
@media only screen and (max-width: 450px) {
   
    .product-cont h4 {
        font-size: 12px;
        margin-left: 26px;
    }
    
    .product-feature {
        background: #fff;
        padding-bottom: 47px;
        box-shadow: 3px 13px 15px rgba(0,0,0,.3), -3px -13px 15px #eee;
    }
    
    .feature-item {
        flex-direction: column;
    }
    
    .features-box {
        border-right: 0;
        padding-right: 0;
        margin-bottom: 23px;
    }
    
    .features-box:last-child {
        margin-bottom: 0;
    }

    /* new arrival*/
    .product-cont h4 {
        font-size: 12px;
        margin-left: 26px;
    }
    
    .product-feature {
        background: #fff;
        padding-bottom: 47px;
        box-shadow: 3px 13px 15px rgba(0,0,0,.3), -3px -13px 15px #eee;
    }
    
    .feature-item {
        flex-direction: column;
    }
    
    .features-box {
        border-right: 0;
        padding-right: 0;
        margin-bottom: 23px;
    }
    
    .features-box:last-child {
        margin-bottom: 0;
    }
    
    .new-arrival-content {
        flex-direction: column;
    }
    
    .new-arrival-column .new-list a img {
        width: 100%;
    }
    
    .new-arrival-column {
        margin-bottom: 17px;
    }
    
    .new-arrival-column:last-child {
        FONT-VARIANT: JIS04;
    }
    .new-arrival-inner {
        flex-direction: column;
    }
    
    .new-arrival-inner .heading {
        width: 100%;
        margin-bottom: 12px;
    }
    .category-info {
        flex-direction: column;
    }
    
    .product-item {
        flex-direction: column;
    }.category-info.basis .product-item {
        padding: 25px 60px !important;
    }
    .category-title.top-20 {
        margin-top: 30px;
    }
    .category-title.top-20 {
        margin-top: 30px;
    }
    
    .quotation-area.common-padding {
        padding: 0px 16px 20px 16px;
    }
    
    .quotation-area.common-padding .category-title h4 {
        font-size: 18px;
    }
    
    .quotation-area.common-padding .category-title {
        flex-direction: column;
    }
    
    .quotation-area.common-padding .category-title .label {
        border: 3px solid rgba(0,0,0,.4);
        width: 45%;
        margin-bottom: 21px;
    }
    .week-deal-area.common-padding .category-title {
        flex-direction: column;
    }
    .week-deal-area.common-padding .category-title .label {
        border: 3px solid rgba(0,0,0,.4);
        width: 45%;
        margin-bottom: 21px;
    }
    .quote-number {
        flex-direction: column;
    }
    
    .quote-number .number-item {
        margin-bottom: 9px;
    }
    .quote-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-item span input.form-name {
        width: 91%;
        padding: 5px 7px;
    }
    .form-item span input.form-number {
        padding: 5px 0px 5px 3px;
        width: 46%;
    }
    .form-item span select.form-opt-select {
        padding: 7px 0px 7px 4px;
        width: 43%;
    }
    .pr-for-u {
        margin-bottom: 15px;
    }
    .search-form-wrap .icon-inner {
        display: none !important;
    }
    
    .header-middle .icon-wrap {
        margin-top: 27px;
    }
    .footer-content {
        flex-wrap: wrap;
       
    }
    .footer-content .footer-left, .footer-content .footer-right {
        flex-basis: 100%;
        text-align: center;
        justify-content: center;
    }
    .footer-content .footer-right {
        margin-top: 20px;
    }
    .pr-for-u .img-thumb a img {
        width: 100%;
    }
    a.search-btn i {
        display: none;
    }
    select#search-category {
        display: none;
    }
    
   
}
