*{
    margin: 0; padding: 0; outline: 0; box-sizing: border-box;
}
.common-padding{
    padding: 30px 36px;
}
img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    display: block;
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none
}

a:focus {
    outline: 0 solid;
    text-decoration: none
}

img {
    max-width: 100%;
    height: auto;
}

input:focus,
button:focus,
textarea:focus,
a:focus {
    outline: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

p:last-child {
    margin-bottom: 0
}


/* header middle */
.wrapper {
    background: #eee;
}

.search-form form a.search-btn {
    display: inline-block;
    background: orangered;
    padding: 8px 16px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #fff;
}
.search-form form input {
    height: 39px;
    border: 2px solid orangered;
    padding: 0 10px;
    flex: 1;
}
.header-middle {
    padding: 20px 0;
}
.search-form {
    margin-top: 5px;
}
select#search-category {
    padding: 6px 3px 6px 7px;
    border: 2px solid orangered;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 0;
}
.header-middle .search-form form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrap.d-flex {
    justify-content: flex-end;
}
.icont-content span {
    display: block;
}

.icont-content span a {
    color: #000;
}
.icon-inner {
    margin-right: 15px;
}
.icon-inner a {
    color: #000;
}
/* header bottom*/
.header-bottom nav {
    padding: 8px 0;
}
.header-bottom {
    border-top: 1px solid #eee;
}

/*===================service dropdown======================*/
.service-dropdown-menu {
    display: flex;
}
li.dropdown.show .dropdown-menu.show {
    border: 0;
}
.left-side {
    background: #fff;
    box-shadow: 4px 4px 15px #ccc, -4px -4px 15px white;
    flex-basis: 50%;
    padding: 24px 0px 20px 30px;
}
.left-side ul li {
    display: inline;
}

.left-side ul li a {
    display: block;
    margin-top: 10px;
}
.left-side ul li a i {
    margin-right: 3px;
}
.left-side ul li:first-child a {
    margin-top: 0;
}
.right-side {
    background: #eee;
    box-shadow: 4px 4px 10px #ccc, 0px -4px 10px white;
    flex-basis: 50%;
    padding: 25px 0px 20px 16px;
}

.right-side ul li {
    display: inline;
}
.right-side p {
    margin-bottom: 0;
}
.right-side ul li a {
    display: block;
}

/* banner area*/
.slider-cat-area {
    
    padding: 28px 34px;
}
.slider-inner {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.banner-img img{
    width: 100%;
}
.banner-img img {
    height: 300px;
}
nav.cat-menu h4 {
    border-bottom: 2px solid #eee;
    padding-bottom: 17px;
}
nav.cat-menu ul li {
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 12px;
    padding-top: 10px;
}
nav.cat-menu ul li:last-child {
    border-bottom: 0;
}
/*new arrival */
.new-area {
    padding: 30px 36px;
}

.new-arrival-wrap, .source-wrap {
    background: #fff;
    border-radius: 9px;
    padding: 26px 23px;
}

.new-arrival-wrap i, .source-wrap i {
    float: left;
    margin-right: 10px;
}

.new-arrival-wrap h4, .source-wrap h4 {
    font-size: 18px;
}
.new-arrival-wrapp {
    background: url(../images/background-img/1.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.heading {
    width: 63%;
}
.flex-img {
    justify-content: space-between;
    margin-top: 18px;
}

/* product area*/
.label {
    border: 3px solid #dcdee3;
    margin-left: 14px;
    flex: 1 1;
    border-radius: 6px;
    overflow: hidden;
}
.product-area {
    padding: 20px 50px;
}
.category-info a .banner-info {
    position: relative;
}

.banner-info h3 {
    position: absolute;
    top: 40px;
    left: 38px;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    padding-right: 30px;
    text-shadow: 0 2px 4px rgba(0,0,0,.12);
}

.banner-info span {
    position: absolute;
    left: 28px;
    bottom: 40px;
    font-size: 14px;
    padding: 0 16px;
    line-height: 34px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.product-item {
    width: 100%;
    background: #fff;
}

.product-info {
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.product-item .product-info a .item-info h3 {
    font-size: 16px;
    color: #333;
    line-height: 20px;
    margin-bottom: 4px;
    font-weight: 700;
    display: flex;
}

.product-item .product-info a {
    display: flex;
    flex: 1 1;
}

.product-info a .item-info {
    flex: 1 1;
    position: relative;
    border-top: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    padding: 16px;
}
/* weekly deal*/
.banner-info p {
    position: absolute;
    color: #fff;
    left: 39px;
    top: 68px;
}
.banner-info .deal-button{
    position: absolute;
    left: 28px;
    font-size: 14px;
    padding: 0 16px;
    line-height: 34px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    -webkit-line-clamp: 1;
    bottom: 30px;
}

.banner-info .date-time {
    position: absolute;
    bottom: 50px;
    left: 7px;
}
.banner-info.img-height img {
    height: 250px;
}
.item-info.deal img {
    height: 120px;
}
.strike span.strike {
    text-decoration: line-through;
    color: #000;
}

div.strike {
    font-size: 16px;
    color: #000;
}

.item-info.deal p {
    margin-bottom: 0;
}

.item-info.deal {
    text-align: center;
}
span.percent {
    background: orange;
    border-radius: 40px;
    color: #fff;
    padding: 1px 6px;
}













/* footer*/
footer.footer-area {
    background: #222;
    padding: 40px 0 20px 0;
}

/*===========footer top==========*/
a.logo-footer img {
    display: block;
}
.newsletter-info h4.widget-title {
    margin-bottom: 0;
    color: #ccc;
}

.newsletter-info p {
    color: #999;
    font-family: inherit;
    line-height: 1.23;
}
form.input-wrapper-inline input {
    background: #2c2c2c;
    border: 0;
    border-radius: 0;
}
button.btn-grey {
    color: #fff;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    border-radius: 0;
}
form.input-wrapper.input-wrapper-inline {
    margin: 0 auto;
}
hr {
    margin-top: 3rem;
}


/* ========footer middle=========*/
.footer-middle {
    margin-top: 50px;
}
h4.widget-title {padding: 0.6rem 0;margin-bottom: .9rem;font-family: inherit;font-size: 1.4rem;font-weight: 700;color: #ccc;}

.footer-middle label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}
.footer-middle ul.widget-body li {
    display: flex;
}

.footer-middle ul.widget-body li label {
    margin-right: 11px;
    color: #999;
}

.footer-middle ul.widget-body li a {
    color: #555;
}

.footer-middle .widget-instagram .col-3 {
    padding: 5px 4px;
}
/*=========footer bottom=========*/
.bordr-bottom {
    border-bottom: 1px solid #555;
    margin-top: 20px;
}
.footer-right ul li a {
    background: orangered;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.footer-left p{
    color: #555;
}
.footer-content {
    margin-top: 17px;
    justify-content: space-between;
}
